<h1>Update <%= @student.given_name %>, <%= @student.family_name %></h1>
<%= simple_form_for @student do |f| %>
  <%= f.association :course %>
  <%= f.input :nickname %>
  <%= f.input :given_name %>
  <%= f.input :family_name %>
  <%= f.input :email %>
  <%= f.button :submit, class: 'btn btn-primary' %>
<% end %>
