<div class="panel panel-default">
  <div class="panel-body">
    <h1 class="text-center"><%= @student.nickname %> (<%= @student.family_name %>, <%= @student.given_name %>)</h1>
    <h3 class="text-center"><%= @student.email %></h3>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title text-center"><%= @course.name %> (<%= @course.start_date.strftime("%-m/%-d/%y") %> - <%= @course.end_date.strftime("%-m/%-d/%y") %>)</h3>
      </div>
      <div class="panel-body student-grades">
        <div class="row">
          <div class="col-md-5">
            <h3 class="text-primary">Grades</h3>
            <h4>Homework: 90%</h4>
            <h4>Participation: 80%</h4>
            <h4>Quizzes: 87%</h4>
            <h4>Exams/Projects: 94%</h4>

          </div>
          <div class="col-md-4">
            <h3 class="text-danger">Absences</h3>
            <p>1/22 Mon</p>
            <p>1/25 Wed</p>
          </div>
          <div class="col-md-3">
            <h3 class="text-warning">Lates</h3>
            <p>1/15 Thur</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-body">
    <div class="col-md-4 col-md-offset-4">
      <div class="btn-group btn-group-justified">
        <%= link_to "Class Overview", @course, class: "btn btn-primary" %>
      </div>
    </div>
  </div>
</div>
