<div class="panel panel-default">
  <div class="panel-body">
    <h1 class="text-center"><%= current_user.username %>'s Dashboard</h1>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="row">
      <% @current_courses.each do |course| %>
        <%= content_tag :div, id: "start_end_dates", data: { start_date: course.start_date.to_date, end_date: course.end_date.to_date, not_class_days: non_class_days(course.class_days) } do %>
        <% end %>
        <div class="col-md-6">
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title text-center"><%= course.name %></h3>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-md-5">
                  <h3><%= link_to "Attendance", students_attendance_path(course_id: course) %></h3>
                  <h3><%= link_to "Class Overview", course %></h3>
                </div>
                <div class="col-md-6 grade-date-category-select">
                  <%= form_tag grades_path, method: :get, class: 'grade-time-select' do %>
                    <h3 class="text-primary text-center">Grades <%= submit_tag "Go", class: 'btn btn-primary btn-sm' %></h3>
                    <%= hidden_field_tag :course_id, course.id %>
                    <p>
                      <%= label_tag :date, 'Select a date' %>
                      <%= text_field_tag :date, @daily_grades_date, data:{ provide:'datepicker' }, class: 'welcome-datepicker'%>
                    </p>
                    <p>
                      <%= label_tag :category_name, 'Select a Category' %>
                      <% @categories = course.categories.map { |cat| cat.name }  %>
                      <%= select_tag :category_name, options_for_select(@categories) %>
                    </p>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-3">
            <h3><%= link_to "All Classes", courses_path %> <span class="badge"><%= @courses.count %></span></h3>
          </div>
          <div class="col-md-3">
            <h3><%= link_to "Students", students_path %> <span class="badge"><%= @students.count %></span></h3>
          </div>
          <div class="col-md-3">
            <h3><%= link_to "Create Class", new_course_path %></h3>
          </div>
          <div class="col-md-3">
            <h3><%= link_to "Create Student", new_student_path %></h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
