<div class="panel panel-default">
  <div class="panel-body">
    <h1 class="text-center"><%= current_user.username %>'s Dashboard</h1>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="row">
      <% @courses.each do |course| %>
        <div class="col-md-6">
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title text-center"><%= course.name %></h3>
            </div>
            <div class="panel-body">
              <h3><%= link_to "Attendance", attendance_path(course_id: course) %></h3>
              <%= form_tag grades_path, method: :get, class: 'grade-time-select' do %>
                <%= hidden_field_tag :course_id, course.id %>
                <%= label_tag :date, 'Select a date' %>
                <%= date_field_tag :date, @daily_grades_date %>
                <%= label_tag :category_name, 'Select a Category' %>
                <% @categories = course.categories.map { |cat| cat.name }  %>
                <%= select_tag :category_name, options_for_select(@categories) %>
                <%= submit_tag "Submit", class: 'btn btn-info'%>
              <% end %>

              <h3><%= link_to "Class Overview", course %></h3>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-3">
            <h3><%= link_to "All Classes", courses_path %> <span class="badge"><%= @courses.count %></span></h3>
          </div>
          <div class="col-md-3">
            <h3><%= link_to "Students", students_path %> <span class="badge"><%= @students.count %></span></h3>
          </div>
          <div class="col-md-3">
            <h3><%= link_to "Create Class", new_course_path %></h3>
          </div>
          <div class="col-md-3">
            <h3><%= link_to "Create Student", new_student_path %></h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
