<div class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-title text-center"><%= @course.name %>: <%= @category %> | <%= @class_date.to_formatted_s(:long_ordinal) %></h3>
  </div>
  <div class="panel-body table-responsive">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>Students</th>
          <th>Grade</th>
          <th>Comments</th>
        </tr>
      </thead>
      <tbody>
        <% @student_daily_grades.each do |daily_grade| %>
          <tr>
            <td><%= daily_grade.student.nickname %></td>
            <td><%= best_in_place daily_grade, :grade, place_holder: '---', html_attrs: { size: '5' } %> %</td>
            <td><%= best_in_place daily_grade, :comment %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
