<div class="panel panel-default">
  <div class="panel-body">
    <h2 class="text-center"><%= @student.nickname %></h2>
    <h3 class="text-center"><%= @course.name %></h3>
  </div>
</div>
<div class="table-responsive">
  <table class="table table-striped table-hover">
    <thead>
      <tr class="info">
        <th>Date</th>
        <th>Attendance</th>
        <% @category_names.each do |category_name| %>
          <th><%= category_name %></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% @attendances.each do |attendance| %>
        <tr class="<%= current_classdate(attendance.class_date) %>">
          <td class="text-info"><strong><%= attendance.class_date.to_date.to_formatted_s(:long) %></strong></td>
          <td>
            <%= attendance.status %>
            <% if attendance.comment.present? %>
              <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
            <% end %>
          </td>
          <% @category_names.each do |category_name| %>
            <% grade = @daily_grades.where(category: category_name, class_date: attendance.class_date).first %>
            <td>
              <% if grade %>
                <%= best_in_place grade, :grade, html_attrs: { size: '5'} %>
                <% if grade.comment.present? %>
                  <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
                <% end %>
              <% end %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<div class="panel panel-default">
  <div class="panel-body">
    <div class="col-md-5 col-md-offset-3">
      <div class="btn-group btn-group-justified">
        <%= link_to "Student Dashboard", @student, class: "btn btn-primary" %>
        <%= link_to "Course Overview", @course, class: "btn btn-primary" %>
      </div>
    </div>
  </div>
</div>
