<div class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-title text-center">Homework: <%= @course.name %></h3>

  </div>
  <div class="panel-body table-responsive">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>Students</th>
          <th>Full Name</th>
          <th>Category</th>
          <th>Comments</th>
        </tr>
      </thead>
      <tbody>
        <%= form_tag grades_collection_daily_grades_path, method: :post do |form| %>
          <%= label_tag :date, 'Select a date' %>
          <%= text_field_tag :date, @daily_grades_date, class: 'form-control small-text-field grade-datepicker' %>
          <%= label_tag :category_name, 'Select a Category' %>
          <%= select_tag :category_name, options_for_select(@categories) %>
          <% @students.each do |student| %>
            <tr>
              <td><%= student.nickname %></td>
              <td><%= student.family_name %>, <%= student.given_name %></td>
              <td>
                <%= fields_for "daily_grades[]", daily_grade do |s| %>
                  <%= s.number_field :grade %>
                  <% s.hidden_field :class_date, value: :date %>
                  <% s.hidden_field :student_id, value: student.id %>
                  <% s.hidden_field :category, value: :category_name %>
                <% end %>
              </td>
              <td></td>
            </tr>
          <% end %>
          <%= submit_tag 'Submit Grades', class: 'btn btn-info' %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
