<%= simple_form_for @course, html: { class: 'form-horizontal' }, wrapper: :horizontal_form do |f| %>
  <%= f.input :name, input_html: { class: "small-text-field" }  %>
  <p>
    <%= f.label :start_date %>
    <%= f.text_field :start_date, data:{ provide:'datepicker' }, class: 'small-date-field course-datepicker' %>
  </p>
  <%= f.label :end_date %>
  <%= f.text_field :end_date, data:{ provide:'datepicker' }, class: 'small-date-field course-datepicker' %>
  <h3>Class Days</h3>
  <div id="class_days">
    <%= f.simple_fields_for :class_days do |class_day| %>
      <%= render 'class_day_fields', f: class_day %>
      <%= link_to_add_association 'Add Class Day', f, :class_days, class: 'btn btn-success btn-sm links' %>
    <% end %>
  </div>
  <h3>Holidays</h3>
  <div id="holidays">
    <%= f.simple_fields_for :holidays do |holiday| %>
      <%= render 'holiday_fields', f: holiday %>
      <%= link_to_add_association 'Add Holiday', f, :holidays, class: 'btn btn-success btn-sm links' %>
    <% end %>
  </div>
  <h3>Grade Categories</h3>
  <div id="categories">
    <%= f.simple_fields_for :categories do |category| %>
      <%= render 'category_fields', f: category %>
      <%= link_to_add_association 'Add Category', f, :categories, class: 'btn btn-success btn-sm links' %>
    <% end %>
  </div>
  <div class="row">
    <div class="col-md-6">
      <%= f.button :submit, class: 'btn btn-info btn-block' %>
    </div>
  </div>
<% end %>
