<div class="panel panel-default">
  <div class="panel-body">
    <h1 class="text-center"><%= @course.name %></h1>
  </div>
</div>
<div class="table-responsive">
  <table class="table table-striped table-hover">
    <thead>
      <tr class="info">
        <th>Student</th>
        <th>Name</th>
        <th>Attendance</th>
        <% @categories.each do |category|  %>
          <th><%= category.name %></th>
        <% end %>
        <th>Final Grade</th>
      </tr>
    </thead>
    <tbody>
      <% @students.each do |student| %>
        <tr>
          <td><%= link_to student.nickname, student %></td>
          <td><%= student.family_name %>, <%= student.given_name %></td>
          <td>A: <%= student.attendances.where(status: 2).count %> | L: <%= student.attendances.where(status: 1).count %></td>
          <% student_final_grade = 0 %>
          <% @categories.each do |category| %>
            <% student_category_average = student.daily_grades.where(category: category.name).average(:grade).to_i %>
            <% student_final_grade += student_category_average * (category.weight / 100.0) %>
            <td> <%= student_category_average %>%</td>
          <% end %>
          <td><%= student_final_grade.to_i %>%</td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<div class="panel panel-default">
  <div class="panel-body">
    <div class="col-md-9 col-md-offset-1">
      <div class="btn-group btn-group-justified">
        <%= link_to "Edit Class", edit_course_path, class: "btn btn-default btn-primary" %>
        <%= link_to "Delete Class", @course, method: :delete, data: {confirm: "Are you sure you want to delete this class?"}, class: "btn btn-default btn-danger" %>
        <%= link_to "Download Grade Breakdown", course_path(id: @course.id, format: :xlsx), data: {confirm: "Are you sure you want to download to this computer?"}, class: "btn btn-default btn-warning" %>
      </div>
    </div>
    <div class="col-md-2">
      <% if @course.archive? %>
        <%= form_for @course do |f| %>
          <%= f.hidden_field :archive, value: false %>
          <%= f.submit 'Unarchive', class: "btn btn-default btn-success" %>
        <% end %>
      <% else %>
        <%= form_for @course do |f| %>
          <%= f.hidden_field :archive, value: true %>
          <%= f.submit 'Archive', class: "btn btn-default btn-success" %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
